In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from pathlib import Path
from joblib import Parallel, delayed
from tqdm.notebook import tqdm
import dill
import pandas as pd
import polars as pl
import numpy as np
from scipy.sparse import csr_matrix

import lightfm

In [3]:
from otto_utils import *

In [6]:
df_test = pl.read_parquet(TEST_PROCESSED, use_pyarrow=True)

In [40]:
df_test["session"].value_counts(sort=True)

shape: (1671803, 2)
┌──────────┬────────┐
│ session  ┆ counts │
│ ---      ┆ ---    │
│ i64      ┆ u32    │
╞══════════╪════════╡
│ 14086824 ┆ 458    │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ 13352358 ┆ 433    │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ 13242700 ┆ 421    │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ 13234219 ┆ 407    │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ ...      ┆ ...    │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ 14571578 ┆ 1      │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ 14571579 ┆ 1      │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ 14571580 ┆ 1      │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ 14571581 ┆ 1      │
└──────────┴────────┘

In [4]:
# load
val_df_train = pl.read_parquet(VALIDATION_PATH / "train.parquet", use_pyarrow=True)
val_df_valid_input = pl.read_parquet(VALIDATION_PATH / "valid.parquet", use_pyarrow=True)
val_df_valid_targets = pl.read_parquet(VALIDATION_PATH / "test_labels.parquet", use_pyarrow=True)

In [9]:
val_df_valid_input.groupby("type").count()

shape: (3, 2)
┌──────┬─────────┐
│ type ┆ count   │
│ ---  ┆ ---     │
│ i64  ┆ u32     │
╞══════╪═════════╡
│ 0    ┆ 5979477 │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┤
│ 2    ┆ 68895   │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┤
│ 1    ┆ 590001  │
└──────┴─────────┘

In [30]:
df_last_20_actions = (
    val_df_valid_input
    .groupby(["session", "aid", "type"])
    .agg([
        pl.min("ts")
    ])
    .sort("ts", reverse=True)
    .groupby("session")
    .agg([
#         pl.list("ts").alias("ts"),
        pl.list("aid").alias("labels"),
    ])
    .with_columns([
        pl.col("labels").arr.head(20).alias("labels"),
    ])
)

In [31]:
df_last_20_actions

shape: (1303355, 2)
┌──────────┬────────────────────────────────┐
│ session  ┆ labels                         │
│ ---      ┆ ---                            │
│ i64      ┆ list[i64]                      │
╞══════════╪════════════════════════════════╡
│ 12775296 ┆ [280584]                       │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 12651008 ┆ [1611032, 1385064, ... 691511] │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 12537216 ┆ [381147, 361104, ... 874858]   │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 11784832 ┆ [1111967, 232749, 1468783]     │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ ...      ┆ ...                            │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 11530625 ┆ [1562546]                      │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 11549633 ┆ [91415, 465923]                │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 12468545 ┆ [347780]                       │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 11586433 ┆ [1626161, 680575, ... 853623]  │
└──────────┴────────────────────────────────┘

In [32]:
df_submission = (
    pl.concat([
        (
            df_last_20_actions
#             .with_column(.alias("type"))
            .with_column(pl.concat_str([pl.col("session"), pl.lit(f"_{t}")]).alias("session_type"))
            .with_column(pl.col("labels").apply(lambda x: " ".join(str(aid) for aid in x)))
            .select(["session_type", "labels"])
        )
        for t in ["clicks", "carts", "orders"]
    ])
)

In [33]:
df_submission

shape: (3910065, 2)
┌─────────────────┬─────────────────────────────────────┐
│ session_type    ┆ labels                              │
│ ---             ┆ ---                                 │
│ str             ┆ str                                 │
╞═════════════════╪═════════════════════════════════════╡
│ 12775296_clicks ┆ 280584                              │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 12651008_clicks ┆ 1611032 1385064 1228935 691511      │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 12537216_clicks ┆ 381147 361104 632003 1613178 713... │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 11784832_clicks ┆ 1111967 232749 1468783              │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ ...             ┆ ...                                 │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 11530625_orders ┆ 1562546                             │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 11549633_orders ┆ 91415 465923                        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 12468545_orders ┆ 347780                              │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 11586433_orders ┆ 1626161 680575 611021 1820872 79... │
└─────────────────┴─────────────────────────────────────┘

In [34]:
calc_valid_score(df_submission)

/app/notebooks/otto/otto_utils.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_labels["ground_truth"].loc[labels_null_idx] = (

validation score: 0.4505167349101711
recall per type: type
carts     0.291750
clicks    0.325259
orders    0.550776
dtype: float64