In [150]:
from pathlib import Path
from joblib import Parallel, delayed
from tqdm.notebook import tqdm
import dill
import pandas as pd
import polars as pl

In [2]:
DATA_FOLDER = Path("/home/sirpantene/data/otto/")

In [164]:
with open(DATA_FOLDER / "test.jsonl") as f:
    print(f.readline())
    print(f.readline())
    print(f.readline())
    print(f.readline())

{"session":12899779,"events":[{"aid":59625,"ts":1661724000278,"type":"clicks"}]}

{"session":12899780,"events":[{"aid":1142000,"ts":1661724000378,"type":"clicks"},{"aid":582732,"ts":1661724058352,"type":"clicks"},{"aid":973453,"ts":1661724109199,"type":"clicks"},{"aid":736515,"ts":1661724136868,"type":"clicks"},{"aid":1142000,"ts":1661724155248,"type":"clicks"}]}

{"session":12899781,"events":[{"aid":141736,"ts":1661724000559,"type":"clicks"},{"aid":199008,"ts":1661724022851,"type":"clicks"},{"aid":57315,"ts":1661724170835,"type":"clicks"},{"aid":194067,"ts":1661724246188,"type":"clicks"},{"aid":199008,"ts":1661780623778,"type":"clicks"},{"aid":199008,"ts":1661781274081,"type":"clicks"},{"aid":199008,"ts":1661781409993,"type":"carts"},{"aid":199008,"ts":1661804151788,"type":"clicks"},{"aid":199008,"ts":1662060028567,"type":"clicks"},{"aid":199008,"ts":1662060064706,"type":"clicks"},{"aid":918667,"ts":1662060160406,"type":"clicks"}]}

{"session":12899782,"events":[{"aid":1669402,"ts":1661724000568,"type":"clicks"},{"aid":1494780,"ts":1661724163530,"type":"clicks"},{"aid":1494780,"ts":1661724190624,"type":"clicks"},{"aid":1494780,"ts":1661724203140,"type":"clicks"},{"aid":1494780,"ts":1661724244341,"type":"carts"},{"aid":1674681,"ts":1661724816749,"type":"clicks"},{"aid":602722,"ts":1661724885670,"type":"clicks"},{"aid":1596098,"ts":1661725306961,"type":"clicks"},{"aid":45034,"ts":1661725434870,"type":"clicks"},{"aid":603159,"ts":1661725567598,"type":"clicks"},{"aid":413962,"ts":1661765601645,"type":"clicks"},{"aid":413962,"ts":1661765608861,"type":"carts"},{"aid":413962,"ts":1661765683962,"type":"clicks"},{"aid":779477,"ts":1661765990636,"type":"clicks"},{"aid":1037537,"ts":1661766045371,"type":"clicks"},{"aid":779477,"ts":1661766058833,"type":"clicks"},{"aid":779477,"ts":1661766162910,"type":"carts"},{"aid":476063,"ts":1661766167646,"type":"clicks"},{"aid":562753,"ts":1661766178974,"type":"carts"},{"aid":779477,"ts":1661766181059,"type":"clicks"},{"aid":562753,"ts":1661785953423,"type":"clicks"},{"aid":476063,"ts":1661785989572,"type":"carts"},{"aid":779477,"ts":1661785991473,"type":"clicks"},{"aid":779477,"ts":1661786009326,"type":"carts"},{"aid":562753,"ts":1661786014432,"type":"clicks"},{"aid":779477,"ts":1661786017266,"type":"clicks"},{"aid":476063,"ts":1661786024954,"type":"clicks"},{"aid":975116,"ts":1661786059083,"type":"clicks"},{"aid":975116,"ts":1661786078505,"type":"carts"},{"aid":595994,"ts":1661786240200,"type":"clicks"},{"aid":595994,"ts":1661786254403,"type":"carts"},{"aid":595994,"ts":1661786284439,"type":"clicks"},{"aid":1299062,"ts":1661786321468,"type":"clicks"},{"aid":1352725,"ts":1661802752201,"type":"clicks"},{"aid":1344773,"ts":1661802822218,"type":"clicks"},{"aid":1344773,"ts":1661802836762,"type":"carts"},{"aid":794259,"ts":1661802866448,"type":"clicks"},{"aid":363336,"ts":1661802911345,"type":"clicks"},{"aid":829180,"ts":1661802976266,"type":"clicks"},{"aid":1711180,"ts":1661803002384,"type":"carts"},{"aid":127404,"ts":1661803019431,"type":"carts"},{"aid":654809,"ts":1661803139163,"type":"clicks"},{"aid":723956,"ts":1661803162990,"type":"clicks"},{"aid":476063,"ts":1661803267739,"type":"clicks"},{"aid":975116,"ts":1661803282620,"type":"clicks"},{"aid":406001,"ts":1661803489097,"type":"clicks"},{"aid":889671,"ts":1661803500037,"type":"clicks"},{"aid":889671,"ts":1661803510829,"type":"carts"},{"aid":834354,"ts":1661803530264,"type":"clicks"},{"aid":834354,"ts":1661803539038,"type":"carts"},{"aid":889671,"ts":1661803545858,"type":"clicks"},{"aid":1099390,"ts":1661803555960,"type":"clicks"},{"aid":987399,"ts":1661803571124,"type":"clicks"},{"aid":987399,"ts":1661803578438,"type":"carts"},{"aid":638410,"ts":1661803600761,"type":"clicks"},{"aid":1072927,"ts":1661803621612,"type":"clicks"},{"aid":530899,"ts":1661803640817,"type":"clicks"},{"aid":229748,"ts":1661803651343,"type":"clicks"},{"aid":229748,"ts":1661803658101,"type":"clicks"},{"aid":740494,"ts":1661803681480,"type":"clicks"},{"aid":740494,"ts":1661803697626,"type":"carts"},{"aid":834354,"ts":1661803710262,"type":"carts"},{"aid":1669402,"ts":1661803953178,"type":"orders"},{"aid":829180,"ts":1661803953178,"type":"orders"},{"aid":1696036,"ts":1661803953178,"type":"orders"},{"aid":479970,"ts":1661803953178,"type":"orders"},{"aid":834354,"ts":1661803953178,"type":"orders"},{"aid":1033148,"ts":1661803953178,"type":"orders"},{"aid":595994,"ts":1661803953178,"type":"orders"},{"aid":1007613,"ts":1661803953178,"type":"orders"}]}

In [24]:
TRAIN_PROCESSED = DATA_FOLDER / "train_parquet"
TRAIN_PROCESSED.mkdir(parents=True, exist_ok=True)

TEST_PROCESSED = DATA_FOLDER / "test_parquet"
TEST_PROCESSED.mkdir(parents=True, exist_ok=True)

In [31]:
save = True
type_map = {
    "clicks": 0,
    "carts": 1,
    "orders": 2
}

def read_chunk(chunk, e, path):
    start = str(e*chunksize).zfill(9)
    end = str(e*chunksize+chunksize).zfill(9)
    
    print(f"{start}_{end}.parquet")
    event_dict = {
        'session': [],
        'aid': [],
        'ts': [],
        'type': [],
    }
    
    for session, events in zip(chunk['session'].tolist(), chunk['events'].tolist()):
        for event in events:
            event_dict['session'].append(session)
            event_dict['aid'].append(event['aid'])
            event_dict['ts'].append(event['ts'])
            event_dict['type'].append(type_map[event['type']])
    
    # save DataFrame

    event_df = pd.DataFrame(event_dict)
    if save == True:
        event_df.to_parquet(path / f"{start}_{end}.parquet")

In [32]:
chunksize = 100_000
chunks = pd.read_json(
    DATA_FOLDER / "test.jsonl",
    lines=True, chunksize=chunksize
)

res = Parallel(n_jobs=16)(
    delayed(read_chunk)(chunk, e, path=TEST_PROCESSED)
    for e, chunk in enumerate(tqdm(chunks))
)

0it [00:00, ?it/s]

In [34]:
df_train = pl.read_parquet(TRAIN_PROCESSED, use_pyarrow=True)
df_test = pl.read_parquet(TEST_PROCESSED, use_pyarrow=True)

In [35]:
df_train

shape: (216716096, 4)
┌──────────┬─────────┬───────────────┬──────┐
│ session  ┆ aid     ┆ ts            ┆ type │
│ ---      ┆ ---     ┆ ---           ┆ ---  │
│ i64      ┆ i64     ┆ i64           ┆ i64  │
╞══════════╪═════════╪═══════════════╪══════╡
│ 0        ┆ 1517085 ┆ 1659304800025 ┆ 0    │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 0        ┆ 1563459 ┆ 1659304904511 ┆ 0    │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 0        ┆ 1309446 ┆ 1659367439426 ┆ 0    │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 0        ┆ 16246   ┆ 1659367719997 ┆ 0    │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ ...      ┆ ...     ┆ ...           ┆ ...  │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 12899777 ┆ 384045  ┆ 1661723976974 ┆ 0    │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 12899777 ┆ 384045  ┆ 1661723986800 ┆ 0    │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 12899778 ┆ 561560  ┆ 1661723983611 ┆ 0    │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 12899778 ┆ 32070   ┆ 1661723994936 ┆ 0    │
└──────────┴─────────┴───────────────┴──────┘

In [36]:
df_test

shape: (6928123, 4)
┌──────────┬─────────┬───────────────┬──────┐
│ session  ┆ aid     ┆ ts            ┆ type │
│ ---      ┆ ---     ┆ ---           ┆ ---  │
│ i64      ┆ i64     ┆ i64           ┆ i64  │
╞══════════╪═════════╪═══════════════╪══════╡
│ 12899779 ┆ 59625   ┆ 1661724000278 ┆ 0    │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 12899780 ┆ 1142000 ┆ 1661724000378 ┆ 0    │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 12899780 ┆ 582732  ┆ 1661724058352 ┆ 0    │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 12899780 ┆ 973453  ┆ 1661724109199 ┆ 0    │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ ...      ┆ ...     ┆ ...           ┆ ...  │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 14571578 ┆ 519105  ┆ 1662328775009 ┆ 0    │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 14571579 ┆ 739876  ┆ 1662328775605 ┆ 0    │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 14571580 ┆ 202353  ┆ 1662328781067 ┆ 0    │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 14571581 ┆ 1100210 ┆ 1662328791563 ┆ 0    │
└──────────┴─────────┴───────────────┴──────┘

In [39]:
item_stats = (
    df_train
    .groupby("aid")
    .agg([
        pl.n_unique("session").alias("uniq_sessions"),
        pl.min("ts").cast(
            pl.Datetime(time_unit="ms", time_zone="Etc/GMT-2")
        ).alias("min_ts"),
    ])
    .sort("uniq_sessions", reverse=True)
)

In [37]:
item_stats_test = (
    df_test
    .groupby("aid")
    .agg([
        pl.n_unique("session").alias("uniq_sessions"),
        pl.min("ts").cast(
            pl.Datetime(time_unit="ms", time_zone="Etc/GMT-2")
        ).alias("min_ts"),
    ])
    .sort("uniq_sessions", reverse=True)
)

In [42]:
item_stats.select([
    pl.min("min_ts").alias("first"),
    pl.max("min_ts").alias("last"),
])

shape: (1, 2)
┌─────────────────────────────┬─────────────────────────────┐
│ first                       ┆ last                        │
│ ---                         ┆ ---                         │
│ datetime[ms, Etc/GMT-2]     ┆ datetime[ms, Etc/GMT-2]     │
╞═════════════════════════════╪═════════════════════════════╡
│ 2022-08-01 00:00:00.025 +02 ┆ 2022-08-28 23:53:49.990 +02 │
└─────────────────────────────┴─────────────────────────────┘

In [44]:
item_stats_test.select([
    pl.min("min_ts").alias("first"),
    pl.max("min_ts").alias("last"),
])

shape: (1, 2)
┌─────────────────────────────┬─────────────────────────────┐
│ first                       ┆ last                        │
│ ---                         ┆ ---                         │
│ datetime[ms, Etc/GMT-2]     ┆ datetime[ms, Etc/GMT-2]     │
╞═════════════════════════════╪═════════════════════════════╡
│ 2022-08-29 00:00:00.278 +02 ┆ 2022-09-04 23:59:41.349 +02 │
└─────────────────────────────┴─────────────────────────────┘

In [54]:
(
    item_stats["aid"].n_unique(), 
    item_stats_test["aid"].n_unique(), 
    (
        item_stats.select(["aid"])
        .join(item_stats_test.select(["aid"]), on="aid", how="outer")
    ).shape,
    (
        item_stats.filter(pl.col("uniq_sessions") < 5).select(["aid"])
        .join(item_stats_test.select(["aid"]), on="aid", how="inner")
    ).shape
)

(1855603, 783486, (1855603, 1), (22977, 1))

In [55]:
session_stats = (
    df_train
    .groupby("session")
    .agg([
        pl.n_unique("aid").alias("uniq_aids"),
        pl.min("ts").cast(
            pl.Datetime(time_unit="ms", time_zone="Etc/GMT-2")
        ).alias("min_ts"),
    ])
    .sort("uniq_aids", reverse=True)
)

In [56]:
session_stats

shape: (12899779, 3)
┌──────────┬───────────┬─────────────────────────────┐
│ session  ┆ uniq_aids ┆ min_ts                      │
│ ---      ┆ ---       ┆ ---                         │
│ i64      ┆ u32       ┆ datetime[ms, Etc/GMT-2]     │
╞══════════╪═══════════╪═════════════════════════════╡
│ 10185698 ┆ 486       ┆ 2022-08-19 10:21:15.261 +02 │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 10448829 ┆ 485       ┆ 2022-08-20 04:51:13.302 +02 │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 10809532 ┆ 484       ┆ 2022-08-21 10:21:07.066 +02 │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 3289838  ┆ 484       ┆ 2022-08-04 13:48:35.840 +02 │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ ...      ┆ ...       ┆ ...                         │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 7463105  ┆ 1         ┆ 2022-08-12 19:30:16.001 +02 │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 8339585  ┆ 1         ┆ 2022-08-14 15:16:57.502 +02 │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 11027009 ┆ 1         ┆ 2022-08-21 20:18:25.419 +02 │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 6944129  ┆ 1         ┆ 2022-08-11 17:37:40.586 +02 │
└──────────┴───────────┴─────────────────────────────┘

In [60]:
df_train.filter(pl.col("session") == 6944129)

shape: (3, 4)
┌─────────┬─────────┬───────────────┬──────┐
│ session ┆ aid     ┆ ts            ┆ type │
│ ---     ┆ ---     ┆ ---           ┆ ---  │
│ i64     ┆ i64     ┆ i64           ┆ i64  │
╞═════════╪═════════╪═══════════════╪══════╡
│ 6944129 ┆ 1051188 ┆ 1660232260586 ┆ 0    │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 6944129 ┆ 1051188 ┆ 1660232291810 ┆ 1    │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 6944129 ┆ 1051188 ┆ 1660232633459 ┆ 0    │
└─────────┴─────────┴───────────────┴──────┘

In [96]:
pldf_user_type_stats = (
    df_train
    .groupby(["session", "type"])
    .agg([
        pl.n_unique("aid").alias("uniq_aids"),
    ])
    .sort("uniq_aids", reverse=True)
    .pivot(
        values="uniq_aids", index="session", columns="type"
    )
    .rename({
        "0": "uniq_clicks",
        "1": "uniq_carts",
        "2": "uniq_orders",
    })
    .fill_null(0)
)

In [97]:
df_train.filter(pl.col("session") == 7249857)

shape: (3, 4)
┌─────────┬────────┬───────────────┬──────┐
│ session ┆ aid    ┆ ts            ┆ type │
│ ---     ┆ ---    ┆ ---           ┆ ---  │
│ i64     ┆ i64    ┆ i64           ┆ i64  │
╞═════════╪════════╪═══════════════╪══════╡
│ 7249857 ┆ 922824 ┆ 1660297875116 ┆ 0    │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 7249857 ┆ 922824 ┆ 1660297925095 ┆ 0    │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 7249857 ┆ 922824 ┆ 1660298015195 ┆ 1    │
└─────────┴────────┴───────────────┴──────┘

In [98]:
pldf_user_type_stats.filter(pl.col("session") == 7249857)

shape: (1, 4)
┌─────────┬─────────────┬────────────┬─────────────┐
│ session ┆ uniq_clicks ┆ uniq_carts ┆ uniq_orders │
│ ---     ┆ ---         ┆ ---        ┆ ---         │
│ i64     ┆ u32         ┆ u32        ┆ u32         │
╞═════════╪═════════════╪════════════╪═════════════╡
│ 7249857 ┆ 1           ┆ 1          ┆ 0           │
└─────────┴─────────────┴────────────┴─────────────┘

In [159]:
def data_stats(df_train):
    
    pldf_user_type_stats = (
        df_train
        .groupby(["session", "type"])
        .agg([
            pl.n_unique("aid").alias("uniq_aids"),
        ])
        .sort("uniq_aids", reverse=True)
        .pivot(
            values="uniq_aids", index="session", columns="type"
        )
        .rename({
            "0": "uniq_clicks",
            "1": "uniq_carts",
            "2": "uniq_orders",
        })
        .fill_null(0)
    )
    
    pldf_user_stats = (
        df_train
        .groupby("session")
        .agg([
            pl.n_unique("aid").alias("uniq_aids"),
            pl.min("ts").cast(
                pl.Datetime(time_unit="ms", time_zone="Etc/GMT-2")
            ).alias("min_ts"),
            pl.max("ts").cast(
                pl.Datetime(time_unit="ms", time_zone="Etc/GMT-2")
            ).alias("max_ts"),
        ])
        .sort("uniq_aids", reverse=True)
        .join(pldf_user_type_stats, on="session", how="inner")
    )
    
    pldf_item_type_stats = (
        df_train
        .groupby(["aid", "type"])
        .agg([
            pl.n_unique("session").alias("uniq_sessions"),
        ])
        .sort("uniq_sessions", reverse=True)
        .pivot(
            values="uniq_sessions", index="aid", columns="type"
        )
        .rename({
            "0": "uniq_clicks",
            "1": "uniq_carts",
            "2": "uniq_orders",
        })
        .fill_null(0)
    )

    pldf_item_stats = (
        df_train
        .groupby("aid")
        .agg([
            pl.n_unique("session").alias("uniq_sessions"),
            pl.min("ts").cast(
                pl.Datetime(time_unit="ms", time_zone="Etc/GMT-2")
            ).alias("min_ts"),
            pl.max("ts").cast(
                pl.Datetime(time_unit="ms", time_zone="Etc/GMT-2")
            ).alias("max_ts"),
        ])
        .sort("uniq_sessions", reverse=True)
        .join(pldf_item_type_stats, on="aid", how="inner")
    )

    return pldf_user_stats, pldf_item_stats

In [160]:
df_session_stats, df_aid_stats = data_stats(df_train)

In [163]:
df_aid_stats.filter(pl.col("uniq_carts") > 0)

shape: (1234735, 7)
┌─────────┬───────────────┬───────────────┬───────────────┬─────────────┬────────────┬─────────────┐
│ aid     ┆ uniq_sessions ┆ min_ts        ┆ max_ts        ┆ uniq_clicks ┆ uniq_carts ┆ uniq_orders │
│ ---     ┆ ---           ┆ ---           ┆ ---           ┆ ---         ┆ ---        ┆ ---         │
│ i64     ┆ u32           ┆ datetime[ms,  ┆ datetime[ms,  ┆ u32         ┆ u32        ┆ u32         │
│         ┆               ┆ Etc/GMT-2]    ┆ Etc/GMT-2]    ┆             ┆            ┆             │
╞═════════╪═══════════════╪═══════════════╪═══════════════╪═════════════╪════════════╪═════════════╡
│ 108125  ┆ 68279         ┆ 2022-08-01    ┆ 2022-08-28    ┆ 68256       ┆ 2778       ┆ 561         │
│         ┆               ┆ 00:00:08.809  ┆ 23:59:41.358  ┆             ┆            ┆             │
│         ┆               ┆ +02           ┆ +02           ┆             ┆            ┆             │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 1460571 ┆ 59727         ┆ 2022-08-01    ┆ 2022-08-28    ┆ 59685       ┆ 4700       ┆ 1541        │
│         ┆               ┆ 00:00:51.935  ┆ 23:59:47.172  ┆             ┆            ┆             │
│         ┆               ┆ +02           ┆ +02           ┆             ┆            ┆             │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 29735   ┆ 53525         ┆ 2022-08-01    ┆ 2022-08-28    ┆ 53461       ┆ 6852       ┆ 1752        │
│         ┆               ┆ 00:04:13.141  ┆ 23:59:11.228  ┆             ┆            ┆             │
│         ┆               ┆ +02           ┆ +02           ┆             ┆            ┆             │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 184976  ┆ 51196         ┆ 2022-08-01    ┆ 2022-08-28    ┆ 51140       ┆ 3369       ┆ 818         │
│         ┆               ┆ 00:00:30.963  ┆ 23:59:38.664  ┆             ┆            ┆             │
│         ┆               ┆ +02           ┆ +02           ┆             ┆            ┆             │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ ...     ┆ ...           ┆ ...           ┆ ...           ┆ ...         ┆ ...        ┆ ...         │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 622159  ┆ 1             ┆ 2022-08-10    ┆ 2022-08-18    ┆ 1           ┆ 1          ┆ 0           │
│         ┆               ┆ 15:31:09.852  ┆ 11:30:15.494  ┆             ┆            ┆             │
│         ┆               ┆ +02           ┆ +02           ┆             ┆            ┆             │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 1233722 ┆ 1             ┆ 2022-08-23    ┆ 2022-08-23    ┆ 1           ┆ 1          ┆ 0           │
│         ┆               ┆ 07:53:35.290  ┆ 07:56:06.292  ┆             ┆            ┆             │
│         ┆               ┆ +02           ┆ +02           ┆             ┆            ┆             │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 1644342 ┆ 1             ┆ 2022-08-18    ┆ 2022-08-20    ┆ 1           ┆ 1          ┆ 0           │
│         ┆               ┆ 16:33:19.026  ┆ 00:33:27.716  ┆             ┆            ┆             │
│         ┆               ┆ +02           ┆ +02           ┆             ┆            ┆             │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 843762  ┆ 1             ┆ 2022-08-28    ┆ 2022-08-28    ┆ 1           ┆ 1          ┆ 0           │
│         ┆               ┆ 14:39:38.129  ┆ 19:52:22.666  ┆             ┆            ┆             │
│         ┆               ┆ +02           ┆ +02           ┆             ┆            ┆             │
└─────────┴───────────────┴───────────────┴───────────────┴─────────────┴────────────┴─────────────┘

In [161]:
df_session_stats

shape: (12899779, 7)
┌──────────┬───────────┬─────────────────┬────────────────┬─────────────┬────────────┬─────────────┐
│ session  ┆ uniq_aids ┆ min_ts          ┆ max_ts         ┆ uniq_clicks ┆ uniq_carts ┆ uniq_orders │
│ ---      ┆ ---       ┆ ---             ┆ ---            ┆ ---         ┆ ---        ┆ ---         │
│ i64      ┆ u32       ┆ datetime[ms,    ┆ datetime[ms,   ┆ u32         ┆ u32        ┆ u32         │
│          ┆           ┆ Etc/GMT-2]      ┆ Etc/GMT-2]     ┆             ┆            ┆             │
╞══════════╪═══════════╪═════════════════╪════════════════╪═════════════╪════════════╪═════════════╡
│ 10185698 ┆ 486       ┆ 2022-08-19      ┆ 2022-08-19     ┆ 486         ┆ 0          ┆ 0           │
│          ┆           ┆ 10:21:15.261    ┆ 12:28:08.560   ┆             ┆            ┆             │
│          ┆           ┆ +02             ┆ +02            ┆             ┆            ┆             │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 10448829 ┆ 485       ┆ 2022-08-20      ┆ 2022-08-20     ┆ 485         ┆ 0          ┆ 0           │
│          ┆           ┆ 04:51:13.302    ┆ 06:13:54.091   ┆             ┆            ┆             │
│          ┆           ┆ +02             ┆ +02            ┆             ┆            ┆             │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 10765542 ┆ 484       ┆ 2022-08-21      ┆ 2022-08-21     ┆ 484         ┆ 0          ┆ 0           │
│          ┆           ┆ 04:51:05.079    ┆ 06:02:23.664   ┆             ┆            ┆             │
│          ┆           ┆ +02             ┆ +02            ┆             ┆            ┆             │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 10809532 ┆ 484       ┆ 2022-08-21      ┆ 2022-08-21     ┆ 484         ┆ 0          ┆ 0           │
│          ┆           ┆ 10:21:07.066    ┆ 12:03:08.060   ┆             ┆            ┆             │
│          ┆           ┆ +02             ┆ +02            ┆             ┆            ┆             │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ ...      ┆ ...       ┆ ...             ┆ ...            ┆ ...         ┆ ...        ┆ ...         │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 9450099  ┆ 1         ┆ 2022-08-16      ┆ 2022-08-17     ┆ 1           ┆ 0          ┆ 0           │
│          ┆           ┆ 22:10:40.521    ┆ 15:00:33.862   ┆             ┆            ┆             │
│          ┆           ┆ +02             ┆ +02            ┆             ┆            ┆             │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 3478167  ┆ 1         ┆ 2022-08-04      ┆ 2022-08-04     ┆ 1           ┆ 0          ┆ 0           │
│          ┆           ┆ 18:16:45.546    ┆ 18:18:06.407   ┆             ┆            ┆             │
│          ┆           ┆ +02             ┆ +02            ┆             ┆            ┆             │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 5832081  ┆ 1         ┆ 2022-08-09      ┆ 2022-08-09     ┆ 1           ┆ 0          ┆ 0           │
│          ┆           ┆ 09:14:17.243    ┆ 09:14:40.238   ┆             ┆            ┆             │
│          ┆           ┆ +02             ┆ +02            ┆             ┆            ┆             │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 7258653  ┆ 1         ┆ 2022-08-12      ┆ 2022-08-12     ┆ 1           ┆ 0          ┆ 0           │
│          ┆           ┆ 12:13:56.932    ┆ 12:14:04.428   ┆             ┆            ┆             │
│          ┆           ┆ +02             ┆ +02            ┆             ┆            ┆             │
└──────────┴───────────┴─────────────────┴────────────────┴─────────────┴────────────┴─────────────┘

In [162]:
df_session_stats.filter(pl.col("uniq_carts") > 0)

shape: (3810706, 7)
┌──────────┬───────────┬─────────────────┬────────────────┬─────────────┬────────────┬─────────────┐
│ session  ┆ uniq_aids ┆ min_ts          ┆ max_ts         ┆ uniq_clicks ┆ uniq_carts ┆ uniq_orders │
│ ---      ┆ ---       ┆ ---             ┆ ---            ┆ ---         ┆ ---        ┆ ---         │
│ i64      ┆ u32       ┆ datetime[ms,    ┆ datetime[ms,   ┆ u32         ┆ u32        ┆ u32         │
│          ┆           ┆ Etc/GMT-2]      ┆ Etc/GMT-2]     ┆             ┆            ┆             │
╞══════════╪═══════════╪═════════════════╪════════════════╪═════════════╪════════════╪═════════════╡
│ 4164784  ┆ 403       ┆ 2022-08-05      ┆ 2022-08-18     ┆ 401         ┆ 9          ┆ 0           │
│          ┆           ┆ 20:16:28.148    ┆ 18:39:30.617   ┆             ┆            ┆             │
│          ┆           ┆ +02             ┆ +02            ┆             ┆            ┆             │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 107112   ┆ 399       ┆ 2022-08-01      ┆ 2022-08-23     ┆ 397         ┆ 2          ┆ 0           │
│          ┆           ┆ 06:25:31.214    ┆ 11:16:56.503   ┆             ┆            ┆             │
│          ┆           ┆ +02             ┆ +02            ┆             ┆            ┆             │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 8433998  ┆ 394       ┆ 2022-08-14      ┆ 2022-08-26     ┆ 393         ┆ 21         ┆ 10          │
│          ┆           ┆ 17:35:57.340    ┆ 10:27:26.187   ┆             ┆            ┆             │
│          ┆           ┆ +02             ┆ +02            ┆             ┆            ┆             │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 97015    ┆ 386       ┆ 2022-08-01      ┆ 2022-08-19     ┆ 386         ┆ 5          ┆ 4           │
│          ┆           ┆ 05:54:54.216    ┆ 14:35:09.115   ┆             ┆            ┆             │
│          ┆           ┆ +02             ┆ +02            ┆             ┆            ┆             │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ ...      ┆ ...       ┆ ...             ┆ ...            ┆ ...         ┆ ...        ┆ ...         │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 348409   ┆ 1         ┆ 2022-08-01      ┆ 2022-08-01     ┆ 1           ┆ 1          ┆ 0           │
│          ┆           ┆ 11:11:34.971    ┆ 11:34:17.458   ┆             ┆            ┆             │
│          ┆           ┆ +02             ┆ +02            ┆             ┆            ┆             │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 3416737  ┆ 1         ┆ 2022-08-04      ┆ 2022-08-06     ┆ 1           ┆ 1          ┆ 0           │
│          ┆           ┆ 16:50:49.805    ┆ 17:46:23.650   ┆             ┆            ┆             │
│          ┆           ┆ +02             ┆ +02            ┆             ┆            ┆             │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 11785290 ┆ 1         ┆ 2022-08-24      ┆ 2022-08-24     ┆ 1           ┆ 1          ┆ 0           │
│          ┆           ┆ 15:16:47.992    ┆ 17:18:59.039   ┆             ┆            ┆             │
│          ┆           ┆ +02             ┆ +02            ┆             ┆            ┆             │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 8792218  ┆ 1         ┆ 2022-08-15      ┆ 2022-08-15     ┆ 1           ┆ 1          ┆ 0           │
│          ┆           ┆ 12:46:49.756    ┆ 12:49:34.424   ┆             ┆            ┆             │
│          ┆           ┆ +02             ┆ +02            ┆             ┆            ┆             │
└──────────┴───────────┴─────────────────┴────────────────┴─────────────┴────────────┴─────────────┘

In [108]:
df_session_stats.filter(pl.col("uniq_orders") > 0)

shape: (1626338, 6)
┌──────────┬───────────┬─────────────────────────────┬─────────────┬────────────┬─────────────┐
│ session  ┆ uniq_aids ┆ min_ts                      ┆ uniq_clicks ┆ uniq_carts ┆ uniq_orders │
│ ---      ┆ ---       ┆ ---                         ┆ ---         ┆ ---        ┆ ---         │
│ i64      ┆ u32       ┆ datetime[ms, Etc/GMT-2]     ┆ u32         ┆ u32        ┆ u32         │
╞══════════╪═══════════╪═════════════════════════════╪═════════════╪════════════╪═════════════╡
│ 8433998  ┆ 394       ┆ 2022-08-14 17:35:57.340 +02 ┆ 393         ┆ 21         ┆ 10          │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 97015    ┆ 386       ┆ 2022-08-01 05:54:54.216 +02 ┆ 386         ┆ 5          ┆ 4           │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 1459773  ┆ 386       ┆ 2022-08-02 11:14:38.354 +02 ┆ 385         ┆ 3          ┆ 1           │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 9740555  ┆ 373       ┆ 2022-08-17 20:01:44.438 +02 ┆ 370         ┆ 48         ┆ 3           │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ ...      ┆ ...       ┆ ...                         ┆ ...         ┆ ...        ┆ ...         │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 11889093 ┆ 1         ┆ 2022-08-24 21:39:06.660 +02 ┆ 1           ┆ 0          ┆ 1           │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 9917116  ┆ 1         ┆ 2022-08-18 13:28:02.426 +02 ┆ 1           ┆ 0          ┆ 1           │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 10980566 ┆ 1         ┆ 2022-08-21 18:10:10.333 +02 ┆ 1           ┆ 0          ┆ 1           │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 1472176  ┆ 1         ┆ 2022-08-02 11:30:56.583 +02 ┆ 1           ┆ 0          ┆ 1           │
└──────────┴───────────┴─────────────────────────────┴─────────────┴────────────┴─────────────┘

In [112]:
def warm_users_and_models(pldf_user_stats, pldf_model_stats):
#     min_actions = self.dataset_params["min_actions"]
#     min_users = self.dataset_params["min_users"]
#     min_transactions = self.dataset_params["min_transactions"]
    
    min_actions = 5
    min_users = 5
    min_transactions = 1

    pldf_train_users = (
        pldf_user_stats
        .filter(pl.col("uniq_aids") >= min_actions)
        .filter(
            (pl.col("uniq_carts") >= min_transactions) |
            (pl.col("uniq_orders") >= min_transactions)
        )
        .select(["session"])
    )

    pldf_train_models = (
        pldf_model_stats
        .filter(pl.col("uniq_sessions") >= min_users)
        .filter(
            (pl.col("uniq_carts") >= min_transactions) |
            (pl.col("uniq_orders") >= min_transactions)
        )
        .select(["aid"])
    )

    return pldf_train_users, pldf_train_models

In [113]:
df_train_sessions, df_train_aids = warm_users_and_models(
    df_session_stats, df_aid_stats
)

In [114]:
df_train_sessions

shape: (2878363, 1)
┌──────────┐
│ session  │
│ ---      │
│ i64      │
╞══════════╡
│ 4164784  │
├╌╌╌╌╌╌╌╌╌╌┤
│ 107112   │
├╌╌╌╌╌╌╌╌╌╌┤
│ 8433998  │
├╌╌╌╌╌╌╌╌╌╌┤
│ 97015    │
├╌╌╌╌╌╌╌╌╌╌┤
│ ...      │
├╌╌╌╌╌╌╌╌╌╌┤
│ 10665376 │
├╌╌╌╌╌╌╌╌╌╌┤
│ 8463992  │
├╌╌╌╌╌╌╌╌╌╌┤
│ 3711304  │
├╌╌╌╌╌╌╌╌╌╌┤
│ 8212246  │
└──────────┘

In [115]:
df_train_aids

shape: (1165022, 1)
┌─────────┐
│ aid     │
│ ---     │
│ i64     │
╞═════════╡
│ 108125  │
├╌╌╌╌╌╌╌╌╌┤
│ 1460571 │
├╌╌╌╌╌╌╌╌╌┤
│ 29735   │
├╌╌╌╌╌╌╌╌╌┤
│ 184976  │
├╌╌╌╌╌╌╌╌╌┤
│ ...     │
├╌╌╌╌╌╌╌╌╌┤
│ 579356  │
├╌╌╌╌╌╌╌╌╌┤
│ 574569  │
├╌╌╌╌╌╌╌╌╌┤
│ 1569276 │
├╌╌╌╌╌╌╌╌╌┤
│ 1689262 │
└─────────┘

In [120]:
print("Num lost items for test sessions")

(
    item_stats_test["aid"].n_unique(),
    (
        df_train_aids.select(["aid"])
        .join(item_stats_test.select(["aid"]), on="aid", how="inner")
    ).shape,
)

Num lost items for test sessions

(783486, (619802, 1))

In [158]:
N_LAST_ACTIONS = 200

df_train_interactions_warm = (
    df_train
    .join(df_train_sessions, on="session", how="inner")
    .join(df_train_aids, on="aid", how="inner")
    .sort("ts")
    .with_columns([pl.lit(1).alias("ones"),])
    .with_columns([pl.col("ones").cumsum().over("session").alias("user_interaction_rank"),])
    .with_columns([pl.max("user_interaction_rank").over("session").alias("user_interaction_total"),])
    .with_columns([
        (
            pl.col("user_interaction_total") - N_LAST_ACTIONS
        ).alias("split_user_interaction_rank"),
    ])
)

In [ ]:
df_train_interactions_warm

In [123]:
from tasks.data.dataset.mappers import EntityEncoder

In [139]:
session_encoder = EntityEncoder(ext_name="session", int_name="uiid")
aid_encoder = EntityEncoder(ext_name="aid", int_name="miid")

In [140]:
session_encoder.set_external_ids(df_train_interactions_warm["session"])
aid_encoder.set_external_ids(df_train_interactions_warm["aid"])

In [141]:
df_train_interactions_warm = (
    df_train_interactions_warm
    .join(session_encoder.mapping_df, on="session", how="left")  # all users
    .join(aid_encoder.mapping_df, on="aid", how="inner")  # only known models
)

In [142]:
df_train_interactions_warm

shape: (132257242, 6)
┌──────────┬─────────┬───────────────┬──────┬─────────┬─────────┐
│ session  ┆ aid     ┆ ts            ┆ type ┆ uiid    ┆ miid    │
│ ---      ┆ ---     ┆ ---           ┆ ---  ┆ ---     ┆ ---     │
│ i64      ┆ i64     ┆ i64           ┆ i64  ┆ i64     ┆ i64     │
╞══════════╪═════════╪═══════════════╪══════╪═════════╪═════════╡
│ 0        ┆ 1517085 ┆ 1659304800025 ┆ 0    ┆ 0       ┆ 951831  │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┤
│ 0        ┆ 1309446 ┆ 1659367439426 ┆ 0    ┆ 0       ┆ 821605  │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┤
│ 0        ┆ 16246   ┆ 1659367719997 ┆ 0    ┆ 0       ┆ 10217   │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┤
│ 0        ┆ 1781822 ┆ 1659367871344 ┆ 0    ┆ 0       ┆ 1117991 │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┤
│ ...      ┆ ...     ┆ ...           ┆ ...  ┆ ...     ┆ ...     │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┤
│ 12899541 ┆ 528886  ┆ 1661723835655 ┆ 1    ┆ 2878334 ┆ 331593  │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┤
│ 12899541 ┆ 1742731 ┆ 1661723838594 ┆ 1    ┆ 2878334 ┆ 1093395 │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┤
│ 12899541 ┆ 1181957 ┆ 1661723929015 ┆ 0    ┆ 2878334 ┆ 741378  │
├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┤
│ 12899541 ┆ 1266719 ┆ 1661723963353 ┆ 1    ┆ 2878334 ┆ 794729  │
└──────────┴─────────┴───────────────┴──────┴─────────┴─────────┘

In [135]:
from tasks.jobs import Splitter

In [136]:
splitter = Splitter()

In [143]:
n_valid_users = 40000

df_train_interactions, df_valid_interactions = splitter.user_split(
    df_train_interactions_warm,
    user_col="session",
    test_size=n_valid_users
)

In [146]:
def build_input_sequences(pldf_interactions):
    return (
        pldf_interactions
        .sort("ts")
        .groupby(["session", "uiid"])
        .agg([
            pl.list("miid").alias("miid_seq"),
            pl.list("ts").alias("ts_seq"),
            pl.list("type").alias("transaction_seq"),
#             pl.list("transaction_weight").alias("transaction_seq"),
        ])
    )

In [147]:
df_train_seq = build_input_sequences(df_train_interactions)
df_valid_seq = build_input_sequences(df_valid_interactions)

In [149]:
DATASET_PATH = DATA_FOLDER / "dataset_v0"
DATASET_PATH.mkdir(parents=True, exist_ok=True)

In [152]:
with open(DATASET_PATH / "session_encoder.dill", "wb") as f:
    dill.dump(session_encoder, f)

with open(DATASET_PATH / "aid_encoder.dill", "wb") as f:
    dill.dump(aid_encoder, f)
    
df_train_seq.write_parquet(DATASET_PATH / "input_train.parquet", use_pyarrow=True)
df_valid_seq.write_parquet(DATASET_PATH / "input_valid.parquet", use_pyarrow=True)